<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PokerGame/poker/poker_1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,139},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,249},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,359},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,469},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,579},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,689},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,799},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,909},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,139},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,249},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,359},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,469},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,579},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,689},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,799},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,909},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,115},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,115},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,115},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,115},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,5},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,85},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,85},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,85},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,165},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,165},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,165},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,165},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,195},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,195},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,195},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,195},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,245},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,245},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,245},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,275},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,275},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,275},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,275},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,275},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,325},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,325},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,325},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_4_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,385},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,355},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>
			<key>PokerGame/poker/poker_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{92,124}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>poker.png</string>
			<key>realTextureFileName</key>
			<string>poker.png</string>
			<key>size</key>
			<string>{1010,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1010</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>